@font-face {
    font-family: 'Taurus-Light';
    src: local('Taurus-Light'),
        url('./taurus-light.woff2') format("woff2"),
    url('./taurus-light.woff') format("woff");
    font-weight: normal;
}

/*@font-face {*/
/*    font-family: "Cinzel Decorative", serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: "Cinzel Decorative", serif;*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: "Cinzel Decorative", serif;*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*}*/
