body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--basic-background);
  color: var(--basic-text);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --basic-background: #060405;
  --title-text: #D99A57F2;
  --basic-text: #E4CDAD;
}
